.commentInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: inherit;
}

.input, .input:focus{
    width: 100%;
    border: none;
    outline: none;
    background: inherit;
}

.postCommentBtn {
    border: none;
    background: inherit;
    cursor: pointer;
}