.container {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: fit-content;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    background: white;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.userInfo {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-bottom: 10px;
    color: #000;
}

.userAvatar {
    width: 40px;
    margin-right: 10px;
    height: 40px;
    border-radius: 50px;
    object-fit: cover;
}

.Link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.userName {
    color: #000;
}

.postImage {
    max-width: 100%;
    height: auto;
}

.postLikes {
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
}

.postLikes span {
    color: #000
}

.postText {
    text-align: left;
    color: #000;

}

.postText span{
    font-weight: bold;
    color: #000;
}