.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.Modal {
  padding: 20px;
  position: relative;
  border-radius: 10px;
  background: #fff;
  min-width: 40vw;
  min-height: 20vh;
}

.buttons {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
